<!DOCTYPE html>
<html lang="en">
<%- include('./includes/head.ejs') %>
<body>
    <div class="u-wrapper">
        <%- include('./includes/header.ejs') %>
        <h2 class="c-form__title">Add Restaurant</h2>
        <form class="c-form" id="form" action="">
            <label class="c-form__label" for="name">Nombre del Negocio</label>
            <input class="c-form__input" name="name" type="text">
            <label class="c-form__label" for="category">Categoria del Restaurante</label>
            <select id="" name="category">
                <% if (categories.length > 0) { %>
                    <% categories.forEach(category => { %>
                        <option value="<%= category.name %>"><%= category.name %></option>
                    <% }) %>
                <% } %>
            </select>
            <label class="c-form__label" for="">En caso de no existir la categoría necesaria:</label>
            <input class="c-form__input" id="category-name" name="new-category" type="text">
            <p class="c-form__button c-form__button--small" id="add-category">Agregar categoria</p>
            <p>Horario</p>
            <label class="c-form__label" for="opens">Abre</label>
            <select name="opens" id="">
                <% times.forEach(time => { %>
                    <option value="<%= time %>"><%= time %></option>
                <% }) %>
            </select>
            <label class="c-form__label" for="closes">Cierra</label>
            <select name="closes" id="">
                <% times.forEach(time => { %>
                    <option value="<%= time %>"><%= time %></option>
                <% }) %>
            </select>
            <p>Días de trabajo</p>
            <div class="c-form__days-container">
                <label class="c-form__label c-form__label--day" for="mon">
                    Lunes
                </label>
                <input class="c-form__input" type="checkbox" name="mon" id="">
                <label class="c-form__label c-form__label--day" for="tue">
                    Martes
                </label>
                <input class="c-form__input" type="checkbox" name="tue" id="">
                <label class="c-form__label c-form__label--day" for="wed">
                    Miercoles
                </label>
                <input class="c-form__input" type="checkbox" name="wed" id="">
                <label class="c-form__label c-form__label--day" for="thu">
                    Jueves
                </label>
                <input class="c-form__input" type="checkbox" name="thu" id="">
                <label class="c-form__label c-form__label--day" for="fri">
                    Viernes
                </label>
                <input class="c-form__input" type="checkbox" name="fri" id="">
                <label class="c-form__label c-form__label--day" for="sat">
                    Sabado
                </label>
                <input class="c-form__input" type="checkbox" name="sat" id="">
                <label class="c-form__label c-form__label--day" for="sun">
                    Domingo
                </label>
                <input class="c-form__input" type="checkbox" name="sun" id="">
            </div>
            <label class="c-form__label" for="tags">Etiquetas</label>
            <input class="c-form__input" type="text" name="tags" id="">
            <label class="c-form__label" for="menu">Menu reducido</label>
            <input class="c-form__input" type="text" name="menu" id="">
            <label class="c-form__label" for="phone">Telefono</label>
            <input class="c-form__input" type="number" name="phone" id="">
            <label class="c-form__label" for="whatsapp">WhatsApp</label>
            <input class="c-form__input" type="number" name="whatsapp" id="">
            <label class="c-form__label" for="facebook">facebook</label>
            <input class="c-form__input" type="text" name="facebook" id="">
            <label class="c-form__label" for="instagram">instagram</label>
            <input class="c-form__input" type="text" name="instagram" id="">
            <label class="c-form__label" for="channel">Recibir pedidos</label>
            <select id="" name="channel">
                <option value="whatsapp">WhatsApp</option>
                <option value="phone">Telefono</option>
                <option value="facebook">Facebook</option>
                <option value="instagram">Instagram</option>
            </select>
            <label class="c-form__label" for="website">website</label>
            <input class="c-form__input" type="text" name="website" id="">
            <label class="c-form__label" for="address">dirección</label>
            <input class="c-form__input" type="text" name="address" id="">
            <label class="c-form__label" for="image">Imagen</label>
            <input class="c-form__input" type="file" name="image" id="">
            <button class="c-form__button" id="button">Enviar</button> 
        </form>
        <%- include('./includes/footer.ejs') %>
    </div>
    <script>
        const $form = document.querySelector('#form')
        const $categoryButton = document.querySelector('#add-category')

        $categoryButton.addEventListener('click', () => {
            const categoryName = document.querySelector('#category-name').value
            fetch(`/category?name=${categoryName}`, {
                method: 'POST',
                body: {}
            }).then(response => {
                alert('Categoria agregada')
                location.reload()
            }).catch(error => {
                alert('Algo salió mal :(')
            })
        })

        $form.addEventListener('submit', event => {
            event.preventDefault()
            const formData = new FormData($form)
            fetch('/restaurants', {
                method: 'POST',
                body: formData
            }).then(response => {
                alert('Agregado restaurante')
                location.reload()
            }).catch(error => {
                console.log(error)
                alert('Algo salió mal, cuentaselo a quien mas confianza le tengas y a José, principalmente a José, corre.')
            })
        })
    </script>
</body>
</html>