<!DOCTYPE html>
<html lang="en">
<%- include('./includes/head.ejs') %>

<body>
    <div class="u-wrapper">
        <%- include('./includes/header.ejs') %>
        <!-- SECTION HERO -->
        <section class="c-hero" id="inicio">
            <h1 class="c-hero__title">Apoya a los negocios locales</h1>
            <p class="c-hero__description">La cuarentena afecta principalmente a los negocios locales pequeños, esos que
                dependen de nuestro consumo diario. No dejemos que desistan en la lucha por permanecer operando y
                apoyémoslos.
                Este sitio está hecho para que encuentres de forma rápida y sencilla estos negocios. Queremos hacerlo
                fácil para que contactes con ellos y puedas hacerles pedidos los cuales contribuiran a su permanencia.
                Este proyecto es de uso gratuito para todos aquellos que quieran inscribir su negocio. Es una conexión
                directa de la cual no obtendremos ninguna comisión. Así que ¡VENGA! apóya lo más que puedas :)</p>
            <a href="#negocios" class="c-mouse">
                <span></span>
            </a>
        </section>
        <!-- SECTION NEGOCIOS -->
        <section id="negocios" class="c-section">
            <h2 class="c-section__title">Encuentra tu opción ideal</h2>
            <div class="c-biz__container">
                <% if (restaurants. length > 0) { %>
                <% restaurants.forEach(restaurant => { %>
                <div class="c-biz">
                    <div class="c-biz__top">
                        <img src="<%= restaurant.imageUrl %>" alt="" class="c-biz__image">
                    </div>
                    <div class="c-biz__bottom">
                        <div class="c-biz__details">
                            <p class="c-biz__category">Restaurant</p>
                            <p class="c-biz__hours"><%= restaurant.opens%> - <%= restaurant.closes %></p>
                            <h2 class="c-biz__name"><%= restaurant.name %> </h2>
                            <!-- TODO: ADD DAYS -->
                            <p class="c-biz__type"><%= restaurant.category %></p>
                            <ul class="c-biz__orders-list">
                                <% restaurant.tags.forEach(tag => { %>
                                <li class="c-biz__order"><span><%= tag %> </span></li>
                                <% }) %>
                            </ul>
                        </div>
                        <div class="c-biz__menu">
                            <h3 class="c-biz__menu-title">Favoritos:</h3>
                            <ul class="c-biz__menu-list">
                                <% restaurant.menu.forEach(item => { %>
                                <li class="c-biz__menu-item"><%= item %></li>
                                <% }) %>
                            </ul>
                        </div>
                        <div class="c-biz__actions">
                            <% if (restaurant.channel === 'whatsapp') { %>
                            <a href="https://wa.me/521<%= restaurant.whatsapp %>?text=Quisiera%20hacer%20un%20pedido"
                                class="c-biz__cta">Ordenar</a>
                            <% } else if (restaurant.channel === 'facebook') { %>
                            <a href="<%= restaurant.facebook %>" class="c-biz__cta">Ordenar</a>
                            <% } else if (restaurant.channel === 'instagram') { %>
                            <a href="<%= restaurant.instagram %>" class="c-biz__cta">Ordenar</a>
                            <% } else { %>
                            <a href="tel:+521<%= restaurant.phone %>" class="c-biz__cta">Ordenar</a>
                            <%}%> 
                                </div>
                                <div class="c-biz__info">
                                    <% if (restaurant.website) { %>
                            <a href="<%= restaurant.website %>" class="c-biz__link" target="_blank"><i
                                    class="icon-world"></i><%= restaurant.name %></a>
                            <% } %>
                            <% if (restaurant.phone) { %>
                            <a href="tel:+521<%= restaurant.phone %>" class="c-biz__link"><i
                                    class="icon-phone"></i><%= restaurant.phone %></a>
                            <% } %>
                            <% if (restaurant.address) { %>
                            <p class="c-biz__link"><i class="icon-location"></i><%= restaurant.address %></p>
                            <% } %>
                        </div>
                    </div>
                </div>
                <% }) %>

                <% } else { %>
                <h2 class="c-section__title">No restaurants yet!</h2>
                <% } %>
            </div>
        </section>
        <!-- SECTION CONTACTO -->
        <section id="contacto" class="c-section">
            <h2 class="c-section__title c-section__title--logo-below">Unete a</h2>
            <h2 class="c-logo c-logo--big">consume<span class="c-logo__highlight">xalapa</span>.com</h2>
            <p class="c-section__description">Dejanos tus datos y nos comunicaremos contigo a la brevedad</p>
            <div class="u-wrapper u-wrapper--mini">
                <!-- <form class="c-form" action="https://formspree.io/xyyprdbr" method="POST">
                    <label class="c-form__label">Nombre de tu negocio</label>
                    <input class="c-form__input" type="text" name="negocio">
                    <label class="c-form__label">Tu nombre</label>
                    <input class="c-form__input" type="text" name="nombre">
                    <label class="c-form__label">Correo electrónico</label>
                    <input class="c-form__input" type="text" name="email">
                    <button class="c-form__button" type="submit">Enviar</button>
                </form> -->

                <div class="c-form">
                    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
                    <script>
                        hbspt.forms.create({
                            portalId: "7416801",
                            formId: "37679158-059c-4b48-a648-55540d9c51fb"
                        });
                    </script>
                </div>
            </div>
        </section>
        <!-- SECTION FOOTER -->
        <%- include('./includes/footer.ejs') %>
    </div>
    <script src="./js/index.js"></script>
    <script src="./js/zenscroll-min.js"></script>
</body>

</html>