<!DOCTYPE html>
<html lang="en">
<%- include('./includes/head.ejs') %> 
<body>
    <div class="u-wrapper">
        <%- include('./includes/header.ejs') %>
        <section class="c-categories">
            <div class="c-categories__container">
              <div class="c-categories__title-container">
                <img class="c-categories__image" src="/img/card.png" alt="">
                <h1 class="c-categories__title">Des<span class="c-categories__highlight">cubre</span></h1>
              </div>
              <h2 class="c-categories__subtitle">Cada compra que hagas dentro de estos<br>contribuirá a su permanencia</h2>
            </div>
            <div class="c-categories__form">
                <form class="c-categories__form-container" action="">
                    <button class="c-categories__form-button c-categories__form-button--active" type="submit">Restaurantes</button>
                    <button class="c-categories__form-button" type="submit">Tradicional Mexicana</button>
                    <button class="c-categories__form-button" type="submit">Cafeterias</button>
                    <button class="c-categories__form-button" type="submit">Comida Rápida</button>
                    <button class="c-categories__form-button" type="submit">Pastelerías</button>
                    <button class="c-categories__form-button" type="submit">Comida internacional</button>
                    <button class="c-categories__form-button" type="submit">Otros</button>
                </form>
            </div>
          </section>
        <!-- SECTION NEGOCIOS -->
        <section id="negocios" class="c-section">
            <h2 class="c-section__title">Encuentra tu opción ideal</h2>
            <div class="c-biz__container">
                <% if (restaurants. length > 0) { %>
                    <% restaurants.forEach(restaurant => { %>
                        <div class="c-biz">
                            <div class="c-biz__top">
                                <img src="<%= restaurant.imageUrl %>" alt="" class="c-biz__image">
                            </div>
                            <div class="c-biz__bottom">
                                <div class="c-biz__details">
                                    <p class="c-biz__category">Restaurant</p>
                                    <p class="c-biz__hours"><%= restaurant.opens%> - <%= restaurant.closes %></p>
                                    <h2 class="c-biz__name"><%= restaurant.name %> </h2>
                                    <!-- TODO: ADD DAYS -->
                                    <p class="c-biz__type"><%= restaurant.category %></p>
                                    <ul class="c-biz__orders-list">
                                        <% restaurant.tags.forEach(tag => { %>
                                            <li class="c-biz__order"><span><%= tag %> </span></li>
                                        <% }) %>
                                    </ul>
                                </div>
                                <div class="c-biz__menu">
                                    <h3 class="c-biz__menu-title">Favoritos:</h3>
                                    <ul class="c-biz__menu-list">
                                        <% restaurant.menu.forEach(item => { %>
                                            <li class="c-biz__menu-item"><%= item %></li>
                                        <% }) %>
                                    </ul>
                                </div>
                                <div class="c-biz__actions">
                                    <% if (restaurant.channel === 'whatsapp') { %>
                                        <a href="https://wa.me/521<%= restaurant.whatsapp %>?text=Quisiera%20hacer%20un%20pedido" class="c-biz__cta">Ordenar</a>
                                        <% } else if (restaurant.channel === 'facebook') { %>
                                            <a href="<%= restaurant.facebook %>" class="c-biz__cta">Ordenar</a>
                                            <% } else if (restaurant.channel === 'instagram') { %>
                                                <a href="<%= restaurant.instagram %>" class="c-biz__cta">Ordenar</a>
                                            <% } else { %>
                                                <a href="tel:+521<%= restaurant.phone %>" class="c-biz__cta">Ordenar</a>
                                        <%}%> 
                                </div>
                                <div class="c-biz__info">
                                    <% if (restaurant.website) { %>
                                        <a href="<%= restaurant.website %>" class="c-biz__link" target="_blank"><i class="icon-world"></i><%= restaurant.name %></a>
                                    <% } %>
                                    <% if (restaurant.phone) { %>
                                        <a href="tel:+521<%= restaurant.phone %>" class="c-biz__link"><i class="icon-phone"></i><%= restaurant.phone %></a>
                                    <% } %>
                                    <% if (restaurant.address) { %>
                                        <p class="c-biz__link"><i class="icon-location"></i><%= restaurant.address %></p>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                
                <% } else { %>
                    <h2 class="c-section__title">No restaurants yet!</h2>
                 <% } %>
            </div>
        </section>
        
        <!-- SECTION CONTACTO -->
        <section id="contacto" class="c-section">
            <h2 class="c-section__title c-section__title--logo-below">Unete a</h2>
            <h2 class="c-logo c-logo--big">consume<span class="c-logo__highlight">xalapa</span>.com</h2>
            <p class="c-section__description">Dejanos tus datos y nos comunicaremos contigo a la brevedad</p>
            <div class="u-wrapper u-wrapper--mini">
                <!-- EJEMPLO -->
                <!-- <form class="c-form" action="https://formspree.io/xyyprdbr" method="POST">
                    <button class="c-form__button" type="submit">Enviar</button>
                    <button class="c-form__button" type="submit">Enviar</button>
                    <button class="c-form__button" type="submit">Enviar</button>
                    <button class="c-form__button" type="submit">Enviar</button>
                    <button class="c-form__button" type="submit">Enviar</button>
                    <button class="c-form__button" type="submit">Enviar</button>
                    <button class="c-form__button" type="submit">Enviar</button>
                    <button class="c-form__button" type="submit">Enviar</button>
                    <button class="c-form__button" type="submit">Enviar</button>
                </form> -->
                <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
                <script>
                    hbspt.forms.create({
                    portalId: "7416801",
                    formId: "37679158-059c-4b48-a648-55540d9c51fb"
                    });
                </script>
            </div>
        </section>
        <!-- SECTION FOOTER -->
        <%- include('./includes/footer.ejs') %>
    </div>
    <script src="./js/index.js"></script>
    <script src="./js/zenscroll-min.js"></script>
</body>
</html>